<head>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      white-space:nowrap;
      padding: 4px 7px 2px;
    }
    .greentext {
      color: #31902B;
    }

    .redtext {
      color: #EB0000;
    }
  </style>
</head>
<h1> All Users </h1>
<%= link_to 'Home', root_path %><br></br>
<table>
  <tr>
    <% skipvals = [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 27, 29, 30, 31, 32, 33, 34, 38, 39, 40, 41, 42, 43, 44, 99] %>
    <% for i in 0..@mass_info[0].size-1 %>
        <% next if skipvals.include?(i) %>
        <th bgcolor = "E5E5E5" >
          <a href=<%= '/main/allusers?sortby=' + i.to_s + '&commit=Show' %> ><%= @mass_info[0][i] %></a>
        </th>
    <% end %>
    <th bgcolor = "E5E5E5" >
      Pod Leader
    </th>
    <th bgcolor = "E5E5E5" >
      Pod Points
    </th>
    <th bgcolor = "E5E5E5">
      STATUS
    </th>
  </tr>
  <% for i in 1..@mass_info.size-1 %>
      <tr>
        <% if i % 2 == 0 %>
            <td bgcolor= "E5E5E5"><b><a href=<%= '/main/userpage?usernamesearch=' + @mass_info[i][0] + '&commit=Show' %> ><%= @mass_info[i][0] %></a></b></td>
        <% else %>
            <td><b><a href=<%= '/main/userpage?usernamesearch=' + @mass_info[i][0] + '&commit=Show' %> ><%= @mass_info[i][0] %></a></b></td>
        <% end %>
        <% for j in 1..@mass_info[i].size-1 %>
            <% next if skipvals.include?(j) %>
            <% if i % 2 == 0 %>
                <% if j == 1 %>
                    <% if @mass_info[i][j].to_i >= 5 %>
                        <td class = "greentext" bgcolor= "E5E5E5" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% elsif  @mass_info[i][j].to_i > 1 %>
                        <td class = "redtext" bgcolor= "E5E5E5" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% else %>
                        <td bgcolor= "E5E5E5" align="center">
                          <%= @mass_info[i][j] %>
                        </td>
                    <% end %>
                <% elsif j == 2 %>
                    <% if @mass_info[i][j] >= 1 %>
                        <td class = "greentext" bgcolor= "E5E5E5" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% elsif  @mass_info[i][j] > 0 %>
                        <td class = "redtext" bgcolor= "E5E5E5" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% else %>
                        <td bgcolor= "E5E5E5" align="center">
                          <%= @mass_info[i][j] %>
                        </td>
                    <% end %>
                <% elsif j >= 3 &&  j <= 22 %>
                    <% if @mass_info[i][j].to_i >= 25 %>
                        <td class = "greentext" bgcolor= "E5E5E5" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% elsif @mass_info[i][j].to_i > 0 %>
                        <td class = "redtext" bgcolor= "E5E5E5" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% else %>
                        <td bgcolor= "E5E5E5" align="center">
                          <%= @mass_info[i][j] %>
                        </td>
                    <% end %>
                <% elsif j >= 23 && j <= 26 %>
                    <% if @mass_info[i][j].to_i >= 25 %>
                        <td class = "greentext" bgcolor= "C6C6C6" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% elsif @mass_info[i][j].to_i > 0 %>
                        <td class = "redtext" bgcolor= "C6C6C6" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% else %>
                        <td bgcolor= "C6C6C6" align="center">
                          <%= @mass_info[i][j] %>
                        </td>
                    <% end %>
                <% elsif j == 28 %>
                    <% if @mass_info[i][j] >= 10 %>
                        <td class = "greentext" bgcolor= "E5E5E5" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% elsif @mass_info[i][j] >= 0 %>
                        <td class = "redtext" bgcolor= "E5E5E5" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% else %>
                        <td bgcolor= "E5E5E5" align="center">
                          <%= @mass_info[i][j] %>
                        </td>
                    <% end %>
                <% elsif j >= 29 && j <= 34 %>
                    <% if @mass_info[i][j] == 1 %>
                        <td class = "greentext" bgcolor= "E5E5E5" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% else %>
                        <td class = "redtext" bgcolor= "E5E5E5" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% end %>
                <% elsif j == 35 %>
                    <% if @mass_info[i][j].to_i > 23 %>
                        <td class = "greentext" bgcolor= "E5E5E5" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% elsif @mass_info[i][j].to_i > 0 %>
                        <td class = "redtext" bgcolor= "E5E5E5" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% else %>
                        <td bgcolor= "E5E5E5" align="center">
                          <%= @mass_info[i][j] %>
                        </td>
                    <% end %>
                <% elsif j == 36 %>
                    <% if @mass_info[i][j].to_i > 5 %>
                        <td class = "greentext" bgcolor= "E5E5E5" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% elsif @mass_info[i][j].to_i > 0 %>
                        <td class = "redtext" bgcolor= "E5E5E5" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% else %>
                        <td bgcolor= "E5E5E5" align="center">
                          <%= @mass_info[i][j] %>
                        </td>
                    <% end %>
                <% elsif j == 37 %>
                    <% if @mass_info[i][j].to_i > 45 %>
                        <td class = "greentext" bgcolor= "E5E5E5" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% elsif @mass_info[i][j].to_i > 0 %>
                        <td class = "redtext" bgcolor= "E5E5E5" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% else %>
                        <td bgcolor= "E5E5E5" align="center">
                          <%= @mass_info[i][j] %>
                        </td>
                    <% end %>
                <% elsif j == 38 %>
                    <% if @mass_info[i][j].to_i > 4 %>
                        <td class = "greentext" bgcolor= "E5E5E5" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% elsif @mass_info[i][j].to_i > 0 %>
                        <td class = "redtext" bgcolor= "E5E5E5" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% else %>
                        <td bgcolor= "E5E5E5" align="center">
                          <%= @mass_info[i][j] %>
                        </td>
                    <% end %>
                <% elsif j == 39 %>
                    <% if @mass_info[i][j].to_i > 1 %>
                        <td class = "greentext" bgcolor= "E5E5E5" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% elsif @mass_info[i][j].to_i == 1 %>
                        <td class = "redtext" bgcolor= "E5E5E5" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% else %>
                        <td bgcolor= "E5E5E5" align="center">
                          <%= @mass_info[i][j] %>
                        </td>
                    <% end %>
                <% elsif j == 40 %>
                    <% if @mass_info[i][j].to_i < 5 %>
                        <td class = "greentext" bgcolor= "E5E5E5" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% elsif @mass_info[i][j].to_i < 10 %>
                        <td class = "redtext" bgcolor= "E5E5E5" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% else %>
                        <td bgcolor= "E5E5E5" align="center">
                          <%= @mass_info[i][j] %>
                        </td>
                    <% end %>
                <% elsif j == 41 %>
                    <% if @mass_info[i][j].to_i == 0 %>
                        <td class = "greentext" bgcolor= "E5E5E5" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% elsif @mass_info[i][j].to_i == 1 %>
                        <td class = "redtext" bgcolor= "E5E5E5" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% else %>
                        <td bgcolor= "E5E5E5" align="center">
                          <%= @mass_info[i][j] %>
                        </td>
                    <% end %>
                <% else %>
                    <td bgcolor= "E5E5E5" align="center">
                      <%= @mass_info[i][j] %>
                    </td>
                <% end %>










            <% else %>
                <% if j == 1 %>
                    <% if @mass_info[i][j].to_i >= 5 %>
                        <td class = "greentext" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% elsif  @mass_info[i][j].to_i > 1 %>
                        <td class = "redtext" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% else %>
                        <td align="center">
                          <%= @mass_info[i][j] %>
                        </td>
                    <% end %>
                <% elsif j == 2 %>
                    <% if @mass_info[i][j] >= 1 %>
                        <td class = "greentext" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% elsif  @mass_info[i][j] > 0 %>
                        <td class = "redtext" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% else %>
                        <td align="center">
                          <%= @mass_info[i][j] %>
                        </td>
                    <% end %>
                <% elsif j >= 3 &&  j <= 22 %>
                    <% if @mass_info[i][j].to_i >= 25 %>
                        <td class = "greentext" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% elsif @mass_info[i][j].to_i > 0 %>
                        <td class = "redtext" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% else %>
                        <td align="center">
                          <%= @mass_info[i][j] %>
                        </td>
                    <% end %>
                <% elsif j >= 23 && j <= 26 %>
                    <% if @mass_info[i][j].to_i >= 25 %>
                        <td class = "greentext" bgcolor= "E5E5E5" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% elsif @mass_info[i][j].to_i > 0 %>
                        <td class = "redtext" bgcolor= "E5E5E5" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% else %>
                        <td bgcolor= "E5E5E5" align="center">
                          <%= @mass_info[i][j] %>
                        </td>
                    <% end %>
                <% elsif j == 28 %>
                    <% if @mass_info[i][j] >= 10 %>
                        <td class = "greentext" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% elsif @mass_info[i][j] >= 0 %>
                        <td class = "redtext" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% else %>
                        <td align="center">
                          <%= @mass_info[i][j] %>
                        </td>
                    <% end %>
                <% elsif j >= 29 && j <= 34 %>
                    <% if @mass_info[i][j] == 1 %>
                        <td class = "greentext" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% else %>
                        <td class = "redtext" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% end %>
                <% elsif j == 35 %>
                    <% if @mass_info[i][j].to_i > 23 %>
                        <td class = "greentext" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% elsif @mass_info[i][j].to_i > 0 %>
                        <td class = "redtext" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% else %>
                        <td align="center">
                          <%= @mass_info[i][j] %>
                        </td>
                    <% end %>
                <% elsif j == 36 %>
                    <% if @mass_info[i][j].to_i > 5 %>
                        <td class = "greentext" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% elsif @mass_info[i][j].to_i > 0 %>
                        <td class = "redtext" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% else %>
                        <td align="center">
                          <%= @mass_info[i][j] %>
                        </td>
                    <% end %>
                <% elsif j == 37 %>
                    <% if @mass_info[i][j].to_i > 45 %>
                        <td class = "greentext" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% elsif @mass_info[i][j].to_i > 0 %>
                        <td class = "redtext" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% else %>
                        <td align="center">
                          <%= @mass_info[i][j] %>
                        </td>
                    <% end %>
                <% elsif j == 38 %>
                    <% if @mass_info[i][j].to_i > 4 %>
                        <td class = "greentext" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% elsif @mass_info[i][j].to_i > 0 %>
                        <td class = "redtext" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% else %>
                        <td align="center">
                          <%= @mass_info[i][j] %>
                        </td>
                    <% end %>
                <% elsif j == 39 %>
                    <% if @mass_info[i][j].to_i > 1 %>
                        <td class = "greentext" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% elsif @mass_info[i][j].to_i == 1 %>
                        <td class = "redtext" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% else %>
                        <td align="center">
                          <%= @mass_info[i][j] %>
                        </td>
                    <% end %>
                <% elsif j == 40 %>
                    <% if @mass_info[i][j].to_i < 5 %>
                        <td class = "greentext" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% elsif @mass_info[i][j].to_i < 10 %>
                        <td class = "redtext" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% else %>
                        <td align="center">
                          <%= @mass_info[i][j] %>
                        </td>
                    <% end %>
                <% elsif j == 41 %>
                    <% if @mass_info[i][j].to_i == 0 %>
                        <td class = "greentext" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% elsif @mass_info[i][j].to_i == 1 %>
                        <td class = "redtext" align="center">
                          <b><%= @mass_info[i][j] %></b>
                        </td>
                    <% else %>
                        <td align="center">
                          <%= @mass_info[i][j] %>
                        </td>
                    <% end %>
                <% else %>
                    <td align="center">
                      <%= @mass_info[i][j] %>
                    </td>
                <% end %>
            <% end %>
        <% end %>
        <% if i % 2 == 0 %>
            <td bgcolor= "E5E5E5" align="center">
              <b><%= @mass_info[i][43] %></b>
            </td>
            <td bgcolor= "E5E5E5" align="center">
              <b><%= @mass_info[i][44] %></b>
            </td>
            <% if @mass_info[i][42] == 'yes' %>
                <td class="greentext" bgcolor= "E5E5E5" align="center">
                  <b>Yes</b>
                </td>
            <% elsif @mass_info[i][42] == 'no' %>
                <td class="redtext" bgcolor= "E5E5E5" align="center">
                  <b>No</b>
                </td>
            <% elsif @mass_info[i][42] == 'boot' %>
                <td align="center" bgcolor= "E5E5E5">
                  <b>Bootcamp</b>
                </td>
            <% elsif @mass_info[i][42] == 'maybe' %>
                <td align="center" bgcolor= "E5E5E5">
                  <b>Maybe?</b>
                </td>
            <% else %>
                <td align="center" bgcolor= "E5E5E5">
                  <b>N/A</b>
                </td>
            <% end %>
        <% else %>
            <td align="center">
              <b><%= @mass_info[i][43] %></b>
            </td>
            <td align="center">
              <b><%= @mass_info[i][44] %></b>
            </td>
            <% if @mass_info[i][42] == 'yes' %>
                <td class="greentext" align="center">
                  <b>Yes</b>
                </td>
            <% elsif @mass_info[i][42] == 'no' %>
                <td class="redtext" align="center">
                  <b>No</b>
                </td>
            <% elsif @mass_info[i][42] == 'boot' %>
                <td align="center">
                  <b>Bootcamp</b>
                </td>
            <% elsif @mass_info[i][42] == 'maybe' %>
                <td align="center">
                  <b>Maybe?</b>
                </td>
            <% else %>
                <td align="center">
                  <b>N/A</b>
                </td>
            <% end %>
        <% end %>
      </tr>
  <% end %>
</table>
<p> <%= @test %> </p>
