<head>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      white-space:nowrap;
      padding: 4px 7px 2px;
    }
    .greentext {
      color: #31902B;
    }

    .redtext {
      color: #EB0000;
    }
  </style>
</head>
<% if @can_show == true %>
    <h1><%= @first_name %> <%= @last_name %>'s page</h1>
    <%= link_to 'Home', root_path %><br></br>
    <%= link_to 'Users', '/main/allusers?sortby=1&commit=Show' %><br></br>
    <%= form_tag("/main/userpage", method: "get") do %>
        <%= label_tag("Search for:") %>
        <%= text_field_tag "usernamesearch" %>
        <%= submit_tag("Show") %>
    <% end %><br></br>
    <% if @user_info[35].to_i <= 10 %>
        <%=image_tag('defaults/skullnbones.png')%><br>
        <font face="copperplate"co size="16">DEAD!</font>
    <% elsif File.exist?('app/assets/images/userpics/' + @user_info[0] + '.png')%>
        <%=image_tag('userpics/' + @user_info[0] + '.png')%><br>
    <% else %>
        <%=image_tag('defaults/stormtrooper.png')%><br>
    <% end %>
    <% if @user_info[42] != 'yes' %>
        <%= link_to '<button type="button">Accept</button>'.html_safe, '/main/userpage?utf8=%E2%9C%93&usernamesearch=' + @user_info[0] + '&status=yes' + '&commit=Show' %>
    <% end %>
    <% if @user_info[42] != 'no' %>
        <%= link_to '<button type="button">Reject</button>'.html_safe, '/main/userpage?utf8=%E2%9C%93&usernamesearch=' + @user_info[0] + '&status=no' + '&commit=Show' %>
    <% end %>
    <% if @user_info[42] != 'boot' %>
        <%= link_to '<button type="button">Bootcamp</button>'.html_safe, '/main/userpage?utf8=%E2%9C%93&usernamesearch=' + @user_info[0] + '&status=boot' + '&commit=Show' %>
    <% end %>
    <% if @user_info[42] != 'maybe' %>
        <%= link_to '<button type="button">Maybe</button>'.html_safe, '/main/userpage?utf8=%E2%9C%93&usernamesearch=' + @user_info[0] + '&status=maybe' + '&commit=Show' %>
    <% end %>
    <table>
      <caption>Info</caption>
      <th bgcolor = "E5E5E5" align="center" >Status</th>
      <th bgcolor = "E5E5E5" align="center" >Login</th>
      <th bgcolor = "E5E5E5" align="center" >Level</th>
      <th bgcolor = "E5E5E5" align="center" >Average</th>
      <th bgcolor = "E5E5E5" align="center" >Attendance</th>
      <th bgcolor = "E5E5E5" align="center" >Megatron</th>
      <th bgcolor = "E5E5E5" align="center" >Peer to Peer</th>
      <th bgcolor = "E5E5E5" align="center" >Pod Leader</th>
      <th bgcolor = "E5E5E5" align="center" >Pod Points</th>
      <tr>
        <% if @user_info[42] == 'yes' %>
            <td class="greentext" align="center">
              <b>Yes</b>
            </td>
        <% elsif @user_info[42] == 'no' %>
            <td class="redtext" align="center">
              <b>No</b>
            </td>
        <% elsif @user_info[42] == 'boot' %>
            <td align="center">
              <b>Bootcamp</b>
            </td>
        <% elsif @user_info[42] == 'maybe' %>
            <td align="center">
              <b>Maybe?</b>
            </td>
        <% else %>
            <td align="center">
              <b>N/A</b>
            </td>
        <% end %>
        <td>
          <%= @user_info[0] %>
        </td>
        <% if @user_info[2].to_i >= 1 %>
            <td class="greentext" align="center">
              <b><%= @user_info[2] %></b>
            </td>
        <% else %>
            <td class="redtext" align="center">
              <b><%= @user_info[2] %></b>
            </td>
        <% end %>
        <% if @user_info[28].to_i >= 10 %>
            <td class="greentext" align="center">
              <b><%= @user_info[28] %></b>
            </td>
        <% else %>
            <td class="redtext" align="center">
              <b><%= @user_info[28] %></b>
            </td>
        <% end %>
        <% if @user_info[35].to_i > 23 %>
            <td class="greentext" align="center">
              <b><%= @user_info[35] %></b>
            </td>
        <% else %>
            <td class="redtext" align="center">
              <b><%= @user_info[35] %></b>
            </td>
        <% end %>
        <% if @user_info[36].to_i >= 5 %>
            <td class="greentext" align="center">
              <b><%= @user_info[36] %></b>
            </td>
        <% else %>
            <td class="redtext" align="center">
              <b><%= @user_info[36] %></b>
            </td>
        <% end %>
        <% if @user_info[37].to_i >= 45 %>
            <td class="greentext" align="center">
              <b><%= @user_info[37] %></b>
            </td>
        <% else %>
            <td class="redtext" align="center">
              <b><%= @user_info[37] %></b>
            </td>
        <% end %>
        <td align="center">
          <b><%= @user_info[43] %></b>
        </td>
        <td align="center">
          <b><%= @user_info[44] %></b>
        </td>
      </tr>
    </table>
    <br></br>
    <table>
      <caption>Project Marks</caption>
      <tr>
        <% skipvals = [0, 1, 2, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44] %>
        <% for i in 0..@user_info.size-1 %>
            <% next if skipvals.include?(i) %>
            <th bgcolor = "E5E5E5" align="center">
              <%= @project_display[i] %>
            </th>
        <% end %>
      </tr>
      <tr>
        <% for i in 0..@user_info.size-1 %>
            <% next if skipvals.include?(i) %>
            <% if i > 0%>
                <% if @user_info[i].to_i >= 25 %>
                    <td class="greentext" align="center">
                      <b><%= @user_info[i] %></b>
                    </td>
                <% elsif @user_info[i].to_i > 0 %>
                    <td class="redtext" align="center">
                      <b><%= @user_info[i] %></b>
                    </td>
                <% else %>
                    <td align="center">
                      <%= @user_info[i] %>
                    </td>
                <% end %>
            <% else %>
                <td align="center">
                  <%= @user_info[i] %>
                </td>
            <% end %>
        <% end %>
      </tr>
    </table>
    <br></br>
    <table>
      <caption>Exam Marks</caption>
      <% for i in 23..26 %>
          <th bgcolor = "E5E5E5" >
            <%= @project_display[i] %>
          </th>
      <% end %>
      <tr>
        <% for i in 23..26 %>
            <% if @user_info[i].to_i >= 25 %>
                <td class="greentext" align="center">
                  <b><%= @user_info[i] %></b>
                </td>
            <% elsif @user_info[i].to_i > 0 %>
                <td class="redtext" align="center">
                  <b><%= @user_info[i] %></b>
                </td>
            <% else %>
                <td align="center">
                  <%= @user_info[i] %>
                </td>
            <% end %>
        <% end %>
      </tr>
    </table>
    <br></br>
    <table>
      <caption>Scores</caption>
      <tr>
        <% for i in 29..37 %>
            <th bgcolor = "E5E5E5" align="center">
              <%= @project_display[i] %>
            </th>
        <% end %>
        <th bgcolor = "E5E5E5" align="center"> Final Score </th>
      </tr>
      <tr>
        <% for i in 29..34 %>
            <% if i > 0%>
                <% if @user_info[i].to_i > 0 %>
                    <td class="greentext" align="center">
                      <b><%= @user_info[i] %></b>
                    </td>
                <% else @user_info[i].to_i > 0 %>
                    <td class="redtext" align="center">
                      <b><%= @user_info[i] %></b>
                    </td>
                <% end %>
            <% else %>
                <td align="center">
                  <%= @user_info[i] %>
                </td>
            <% end %>
        <% end %>
        <% if @user_info[35].to_i > 23 %>
            <td class="greentext" align="center">
              <b><%= 1 %></b>
            </td>
        <% elsif @user_info[35].to_i > 10 %>
            <td class="redtext" align="center">
              <b><%= 0 %></b>
            </td>
        <% else %>
            <td class="redtext" align="center">
              <b><%= -1 %></b>
            </td>
        <% end %>
        <% if @user_info[36].to_i > 5 %>
            <td class="greentext" align="center">
              <b><%= 1 %></b>
            </td>
        <% else %>
            <td class="redtext" align="center">
              <b><%= 0 %></b>
            </td>
        <% end %>
        <% if @user_info[37].to_i > 45 %>
            <td class="greentext" align="center">
              <b><%= 1 %></b>
            </td>
        <% else %>
            <td class="redtext" align="center">
              <b><%= 0 %></b>
            </td>
        <% end %>
        <% if @user_info[1].to_i >= 5 %>
            <th class="greentext" bgcolor = "E5E5E5" align="center">
              <%= @user_info[1] %>
            </th>
        <% else %>
            <th class="redtext" bgcolor = "E5E5E5" align="center">
              <%= @user_info[1] %>
            </th>
        <% end %>
      </tr>
    </table>
    <br></br>
<% else %>
    <h1>Page does not exist!</h1>
    <p>You probably mispelled the name</p>
    <p>Have you tried refreshing the users?</p>
    <%= link_to 'Home', root_path %><br></br>
<% end %>
